.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar .logo {
    float: left;
    color: white;
    padding: 14px 16px;
    font-size: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

body {
    background-image: url('assets/anggota radio.JPG');
    background-size: cover;
}
